*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;

}
.card{
    font-size: 20px;
    background:white;
    padding: 30px;
    color:#1b1b1b ;
    transition: 1s ease;
    margin: 10px;
    cursor: pointer;

}
.card:hover{
    transform: scale(1.1);
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-family: sans-serif;
} .p{
    font-weight: bold;
    font-size: 1rem;
}
img{
    border-radius: 5px;
    height: 200px;
    width: 300px;
}
.mbtn{
    position: absolute;
    /* position: sticky; */
    top: 5px;
    right: 20px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    
}